<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cryptolearner.mobile.cryptolearner">

    <application
        android:allowBackup="true"
        android:icon="@drawable/cryptolearner_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="main_menu.MenuActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="activities.CaesarLvl1Activity"
            android:label="@string/title_activity_caesar_lvl_1"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="activities.CaesarLvl2Activity"
            android:label="@string/title_activity_caesar_lvl_2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="activities.CaesarLvl3Activity"
            android:label="@string/title_activity_caesar_lvl_3"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="activities.CaesarLvl4Activity"
            android:label="@string/title_activity_caesar_lvl_4"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="activities.SubstitutionLvl1Activity"
            android:label="@string/title_activity_substitution_lvl_1"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="activities.SubstitutionLvl2Activity"
            android:label="@string/title_activity_substitution_lvl_2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="activities.SubstitutionLvl3Activity"
            android:label="@string/title_activity_substitution_lvl_3"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="activities.VigenereLvl1Activity"
            android:label="@string/title_activity_vigenere_lvl_1"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="activities.VigenereLvl2Activity"
            android:label="@string/title_activity_vigenere_lvl_2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="activities.AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="activities.ToolCaesarEncryptionActivity"
            android:label="@string/title_activity_tool_caesar_encryption"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="activities.ToolCaesarDecryptionActivity"
            android:label="@string/title_activity_tool_caesar_decryption"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="activities.ToolSubstitutionActivity"
            android:label="@string/title_activity_tool_substitution"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="activities.ToolVigenereActivity"
            android:label="@string/title_activity_tool_vigenere"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>